.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: intial;
    padding: 0.5rem 1rem;
    margin-bottom: 30px;
}

.font {
	font-size: 1.8rem;
    color: #0000008a;
}

.fAlign{
	text-align:left;
}

hr.soften {
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(64, 156, 167, 0.62), rgba(64, 156, 167, 0.25);
  background-image:    -moz-linear-gradient(left, rgba(64, 156, 167, 0.62), rgba(64, 156, 167, 0.25);
  background-image:     -ms-linear-gradient(left, rgba(64, 156, 167, 0.62), rgba(64, 156, 167, 0.25);
  background-image:      -o-linear-gradient(left, rgba(64, 156, 167, 0.62), rgba(64, 156, 167, 0.25);
  border: 0;
}




