<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <title>Dc_Virtual</title>
    <style>
    	.image-class{
		    max-width: 35%!important;
		    margin-bottom: 5%;
		}
		.select-class1{
		    background: #f8f8f8!important;
		    box-shadow: 0 0 7px 5px rgba(0,50,100,.1)!important;
		    cursor: pointer;
		}
		.temp-heading-class{
		    letter-spacing: 2px;
		    font-size: .9em;
		    color: rgba(0,0,0,.63);
		    font-weight: 600;
		}
		
		.cardAlign{
			text-align: -webkit-center;
		}
			.zoom {
 	 	transition: transform .4s;
	}

	.zoom:hover {
  		transform: scale(0.9); 
	}
	
	.header-class{
	 	background: #f9f9f9;
     	box-shadow: 0 3px 5px -4px grey;
	}
	
	section .section-title {
    text-align: center;
    color: #17a2b8;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #fff;
    color: #3e3e3e;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #17a2b8; */
    background-color: #fff;
    /* border-color: #17a2b8; */
    border-bottom: 4px solid #17a2b8 !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
   /*  border: 1px solid #fff; */
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #3e3e3e;
    font-size: 20px;
}

.searchfield {
		    width: 100%;
		    box-shadow: 0 3px 3px 0px grey;
		    box-sizing: border-box;
		    border:1px solid grey;
		    border-radius: 20px;
		    font-size: 16px;
		    background-color: white;
		    background-position: 10px 10px; 
		    background-repeat: no-repeat;
		    padding: 12px 20px 12px 40px;
		    -webkit-transition: width 0.4s ease-in-out;
		    transition: width 0.4s ease-in-out;
		    outline: none;
		}
    </style>
  </head>
  <body data-ng-app="selectRoomLandingApp" data-ng-controller="selectRoomLandingCtrl">
  
    <div class="bg-faded header-class">
	<!-- Image and text -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="">
			    <img src="http://d305uc8ofhou21.cloudfront.net/dclead/images/Design_Cafe_Logo.png" style="max-width: 150px;" class="d-inline-block align-top" alt="">
			</a>	
			<form class="form-inline">
    			<button class="btn  my-2 my-sm-0" style="background: #06758e;" type="button" data-ng-click="view_cart()"><i class="fa fa-cart-plus" style="color: #fff; font-size: 1.5em;" aria-hidden="true"></i></button>
  			</form>		  	
		</nav>
	</div>
	
	
	<section id="tabs">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12 col-lg-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">View by room</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">View by customer</a>
					
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="container">
  	<!-- Content here -->
  	<div class="row font fAlign">
  		<div class="col-md-12 text-center mt-3">
  			<p class="h3 font text-uppercase ml-4">Welcome, 360 tour of home</p>
  		</div>
  		<!-- <div class="col-md-6 text-right">
  			<button type="button" data-ng-click="reDirect()" class="btn btn-lg mr-3" style="padding: 1%;width: 50%; color: #fff; background-color: #409ca7; border-color: #409ca7;">360 OF ALL CUSTOMER</button>
  		</div> -->
  	</div>
	<div class="col-md-12">
		<hr class="soften">
	</div>
	<!-- card design -->
	
  	<div class="row">
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">living</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/LivingRoom.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">dining</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/DiningRoom.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">bedroom</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/BedRoom.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">kitchen</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/Kitchen.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">bathroom</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/bathroom.png" alt="living room">
			  	</div>
			</div>
    	</div>
  	</div>

	
	</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="container">
		
	<!-- <div class="col-12">
	      <button type="button" data-ng-click="backToSelectRoom()" class="btn btn-lg" style="padding: 0.4%;width: 10%; color: #fff; background-color: #409ca7; border-color: #409ca7;">Back</button>
	      <button type="button" class="btn btn-lg" style="float: right; padding: 0.4%;width: 10%; color: #fff; background-color: #409ca7; border-color: #409ca7;">Finalize</button>
	</div> -->
	<div class="col-md-12 text-center mt-3">
  			<p class="h3 font text-uppercase ml-4">360 View for all customer</p>
  		</div>
	 
  	<!-- Content here -->
		<div class="col-md-12 font fAlign pt-4">
	  		<input class="searchfield" type="text" name="search" placeholder="Search by property type, customer name, room type, pricing, room size." data-ng-model="customerdata">
	  	</div>
		
		<div class="col-md-12">
			<hr class="soften">
		</div>
		<!-- card design -->
		<div class="col-md-12">
			<table class="table table-striped">
  <thead style="background: #3e3e3e; color: #fff;">
    <tr>
     
      <th scope="col">Customer name</th>
      <th scope="col">Room Name</th>
      <th scope="col">Room Price</th>
      <th scope="col">View Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Mark</td>
      <td>Otto</td>
      <td>12345</td>
      <td><a style="cursor: pointer; font-size: 1.3em;" data-ng-click="selectedCustomer360();"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
     
      <td>Jacob</td>
      <td>Thornton</td>
      <td>12345</td>
      <td><a style="cursor: pointer; font-size: 1.3em;" data-ng-click="selectedCustomer360();"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
      
      
    </tr>
    <tr>
     
      <td>Larry</td>
      <td>the Bird</td>
      <td>12345</td>
            <td><a style="cursor: pointer; font-size: 1.3em;" data-ng-click="selectedCustomer360();"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
      
    </tr>
  </tbody>
</table>
		</div>
		
	</div>
					</div>
					
				</div>
			
			</div>
		</div>
	</div>
</section>
	
	<!-- <div class="container">
  	Content here
  	<div class="row font fAlign">
  		<div class="col-md-6">
  			<p class="h3 font text-uppercase ml-4">Welcome, 360 tour of home.</p>
  		</div>
  		<div class="col-md-6 text-right">
  			<button type="button" data-ng-click="reDirect()" class="btn btn-lg mr-3" style="padding: 1%;width: 50%; color: #fff; background-color: #409ca7; border-color: #409ca7;">360 OF ALL CUSTOMER</button>
  		</div>
  	</div>
	<div class="col-md-12">
		<hr class="soften">
	</div>
	card design
	
  	<div class="row">
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">living</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/LivingRoom.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">dining</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/DiningRoom.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">bedroom</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/BedRoom.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">kitchen</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/Kitchen.png" alt="living room">
			  	</div>
			</div>
    	</div>
    	
    	<div class="col-md-4 cardAlign pt-4" data-ng-click="viewSelectedRoomData()">
      		<div class="card select-class1" style="width: 18rem;">
				<div class="card-body zoom">
			    	<h5 class="card-title temp-heading-class text-uppercase">bathroom</h5>
			    	<img class="image-class" src="http://d305uc8ofhou21.cloudfront.net/dcelite/images/rooms-icon/bathroom.png" alt="living room">
			  	</div>
			</div>
    	</div>
  	</div>

	
	</div> -->
	
	<!-- angular code -->
		<script>
		//angular start here
		var app = angular.module('selectRoomLandingApp', []);
		app.controller('selectRoomLandingCtrl', function($scope, $http, $window ) {
		$scope.testing ="testing";
		//Login authentication function //
		
		$scope.reDirect = function(){
		/* $window.location.href="content/dashboard.html"; */
				$window.location.href="content/view_customers_room_data.html";
			}
		$scope.viewSelectedRoom360 = function(){
			
		}
		
			$scope.clearErrorMsg =function(){
				document.getElementById("errormsg").innerHTML = "";
			}
			
		/* view all selected room data */
		$scope.viewSelectedRoomData = function(){
			$window.location.href="content/view_all_selected_room_data.html";
		}
		
		$scope.selectedCustomer360 = function(){
			$window.location.href = "content/customer_360_view.html";
		}
		
		$scope.view_cart = function(){
			$window.location.href = "content/customer_360_cart.html";			
		}
		
		});
	</script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>