<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/ico" href="../images/favicon.ico"/>
<!-- JS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="../js/host.js"></script>
<script type="text/javascript" src="../js/ioJsonFormat.js"></script>
<script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>

<title>Customer_360_view</title>
<style>
	.header-class{
	 	background: #f9f9f9;
     	box-shadow: 0 3px 5px -4px grey;
	}

	.row-style{
	 	border: 1px solid lightgrey;
	}

	.zoom {
 	 	transition: transform .4s;
	}

	.zoom:hover {
  		transform: scale(0.9); 
	}

	.header-style{
		background: #f8f8f8;
	}
	
	.heading-style{
		padding-bottom: 16px;
	}
	
	.legend-style{
		width: 15%;
	    padding: 0%;
	    background: #f8f8f8;
	    font-size: 1.5em;
	    margin-left: 14px;
	    border: 1px solid lightgrey;
	    font-weight: 400;
	    padding-left:28px;
	}
	
	.icon-style{
		font-size: 1.5em;
	    color: #17a2b8;
	    cursor: pointer;
	}
	
	.signouticon-style{
		font-size: 1.5em;
	    color: #3e3e3e;
	    cursor: pointer;
	}
	.imageheading-style{
	    /* background: #17a2b8; */
	    padding: 0.5%;
	    color: #3e3e3e;
	    border-radius: 0%;
	    border-bottom-left-radius: 5px;
	    border-top-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    border-top-right-radius: 5px;
	    border-bottom: 4px solid #17a2b89e;
	}
	.vrheading-style{
	    padding-right: 8%;
	    padding-left: 8%;
	}
	
	.noimage-style{
	    font-size: 1.7em;
	    color: #17a2b8;
	    font-weight: 400;
	}
</style>
</head>
<body data-ng-app="dashboardApp" data-ng-controller="dashboardCtrl" data-ng-init="getCustomerInfo()">
	<!-- display part -->
     <div class="bg-faded header-class">
	<!-- Image and text -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="">
			    <img src="http://d305uc8ofhou21.cloudfront.net/dclead/images/Design_Cafe_Logo.png" style="max-width: 150px;" class="d-inline-block align-top" alt="">
			</a>	
			<form class="form-inline">
    			<button class="btn  my-2 my-sm-0" style="background: #06758e;" type="button" data-ng-click="view_cart()"><i class="fa fa-cart-plus" style="color: #fff; font-size: 1.5em;" aria-hidden="true"></i></button>
  			</form>	  	
		</nav>
	</div>
	
	
	
	
	<div class="container">
		<div class="row mt-4 ">
		<div class="col-md-3">
			<button type="button" data-ng-click="backToViewCustomerRoomData()" class="btn btn-lg" style="padding: 1%;width: 40%; color: #fff; background-color: #409ca7; border-color: #409ca7;">Back</button>
		</div>
			<div class="col-6 text-center">
				<span><strong>Welcome,</strong></span>
			</div>
			<div class="col-3 text-right">
			<!-- <button type="button"class="btn btn-lg" style="padding: 1%;width: 40%; color: #fff; background-color: #409ca7; border-color: #409ca7;" data-ng-click="preview_360_view()"s>Finalize</button> -->
			</div>
		</div>
		<hr>

		<!-- image display section -->
		<fieldset class="row-style mt-4">
			<legend class="legend-style">360 View</legend>
		   	<div class="row mt-2">
		   		<div class="text-center vrheading-style mt-2 mb-1 col-12"><h5 class="imageheading-style ng-cloak">360 View </h5></div>
					<div class="col-md-12 zoom text-center" >
						<div id='vrview0'></div>
					</div>
					<div class="col-12 text-center">
					  <button type="button" class="btn btn-lg mt-2" style=" padding: 0.5%; width: 30%; color: #fff; background-color: #409ca7; border-color: #409ca7;">SELECT</button>
					</div>		
		    	</div>
		    	
		    	<div class="row mt-2">
		   		<div class="text-center vrheading-style mt-2 mb-1 col-12"><h5 class="imageheading-style ng-cloak">360 View </h5></div>
					<div class="col-md-12 zoom text-center" >
						<div id='vrview1'></div>
					</div>
					<div class="col-12 text-center">
					  <button type="button" class="btn btn-lg mt-2" style=" padding: 0.5%; width: 30%; color: #fff; background-color: #409ca7; border-color: #409ca7;">SELECT</button>
					</div>		
		    	</div>
		    	
		    	<div class="row mt-2">
		   		<div class="text-center vrheading-style mt-2 mb-1 col-12"><h5 class="imageheading-style ng-cloak">360 View </h5></div>
					<div class="col-md-12 zoom text-center" >
						<div id='vrview2'></div>
					</div>
					<div class="col-12 text-center">
					  <button type="button" class="btn btn-lg mt-2" style=" padding: 0.5%; width: 30%; color: #fff; background-color: #409ca7; border-color: #409ca7;">SELECT</button>
					</div>		
		    	</div>
		    	
		    	<div class="row mt-2">
		   		<div class="text-center vrheading-style mt-2 mb-1 col-12"><h5 class="imageheading-style ng-cloak">360 View </h5></div>
					<div class="col-md-12 zoom text-center" >
						<div id='vrview3'></div>
					</div>
					<div class="col-12 text-center">
					  <button type="button" class="btn btn-lg mt-2" style=" padding: 0.5%; width: 30%; color: #fff; background-color: #409ca7; border-color: #409ca7;">SELECT</button>
					</div>		
		    	</div>
		    	
		    	<div class="row mt-2">
		   		<div class="text-center vrheading-style mt-2 mb-1 col-12"><h5 class="imageheading-style ng-cloak">360 View </h5></div>
					<div class="col-md-12 zoom text-center" >
						<div id='vrview4'></div>
					</div>
					<div class="col-12 text-center">
					  <button type="button" class="btn btn-lg mt-2" style=" padding: 0.5%; width: 30%; color: #fff; background-color: #409ca7; border-color: #409ca7;">SELECT</button>
					</div>		
		    	</div>
		    
		    	<div class="row mt-2" data-ng-if="customer.ImageData.length == 0">
					<div class="col-md-12 zoom text-center" >
						<div class="ba-0 noimage-style mb-5" >
							No 360 View Available!
						</div>
					</div>		
		    	</div>
		</fieldset>
	</div>
	
	<!-- angular script -->
	
	<script>
		//angular start here
		var app = angular.module('dashboardApp', []);
		app.controller('dashboardCtrl', function($scope, $http, $window ) {
			$scope.backToViewCustomerRoomData = function (){
				$window.location.href = "../index.html";
			}
			
			$scope.preview_360_view = function(){
				$window.location.href = "./preview_final_customer_360.html";
			}
			
			$scope.view_cart = function(){
				$window.location.href = "./customer_360_cart.html";			
			}
		});
	</script>	
		  <script>
window.addEventListener('load', onVrViewLoad);

function onVrViewLoad() {
  // Selector '#vrview' finds element with id 'vrview'https://cdndesigncafe.s3-us-west-2.amazonaws.com/root/dcelite/images/MBR+VR.jpg  
  for(i=0;i<=5;i++){
	  var vrView = new VRView.Player('#vrview'+i, {
		image: 'https://d305uc8ofhou21.cloudfront.net/images/vrimage/Navin_MBR.jpg',
		is_vr_off :true,
		height : 500,
		width: '95%',
		is_stereo: false
	  });
	}
}
    </script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>