<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/ico" href="../images/favicon.ico"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
	
    <title>Preview_Final</title>
    <style>
    	.image-class{
		    max-width: 35%!important;
		    margin-bottom: 5%;
		}
		.select-class1{
		    background: #f8f8f8!important;
		    box-shadow: 0 0 7px 5px rgba(0,50,100,.1)!important;
		    cursor: pointer;
		}
		.temp-heading-class{
		    letter-spacing: 2px;
		    font-size: .9em;
		    color: rgba(0,0,0,.63);
		    font-weight: 600;
		}
		
		.cardAlign{
			text-align: -webkit-center;
		}
		
		.zoom {
 	 	transition: transform .4s;
	}

	.zoom:hover {
  		transform: scale(0.9); 
	}
	
	.header-class{
	 	background: #f9f9f9;
     	box-shadow: 0 3px 5px -4px grey;
	}
    </style>
  </head>
  <body data-ng-app="selectRoomLandingApp" data-ng-controller="selectRoomLandingCtrl">
  
    <div class="bg-faded header-class">
	<!-- Image and text -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="">
			    <img src="http://d305uc8ofhou21.cloudfront.net/dclead/images/Design_Cafe_Logo.png" style="max-width: 150px;" class="d-inline-block align-top" alt="">
			</a>		  	
		</nav>
	</div>
	
	
	<div class="container">
  	<!-- Content here -->

  	
  	
  	<div class="row font">
  		
  		 <div class="col-md-3">
  			<button type="button"class="btn btn-lg" style="padding: 1%;width: 50%; margin-left: 35px; margin-bottom: 10px; color: #fff; background-color: #409ca7; border-color: #409ca7;" data-ng-click="backToViewDashboard()"s>Dashboard</button>
  		</div>
  		<div class="col-md-6 text-center">
  			<p class="h3 font text-uppercase">PREVIEW 360 VIEW</p>
  			
  		</div>
  		<div class="col-md-3"></div>
  	</div>
  	
  	
	<div class="col-md-12">
		<hr class="soften" style="width: 96%;">
	</div>
	<!-- card design -->
	
	
  	<div class="row">
    	<div class="col-md-6  cardAlign pt-3" data-ng-click="viewSelectedRoomData()">
      		<div id='vrview0'></div>  		
    	</div>
    	
    	<div class="col-md-6  cardAlign pt-3" data-ng-click="viewSelectedRoomData()">
      		<div id='vrview1'></div>
    	</div>
    	
    	<div class="col-md-6  cardAlign pt-3" data-ng-click="viewSelectedRoomData()">
      		<div id='vrview2'></div>
    	</div>
    	
    	<div class="col-md-6  cardAlign pt-3" data-ng-click="viewSelectedRoomData()">
      		<div id='vrview3'></div>
    	</div>
    	
    	<div class="col-md-6  cardAlign pt-3" data-ng-click="viewSelectedRoomData()">
      		<div id='vrview4'></div>
    	</div>
    	
    	<div class="col-md-6  cardAlign pt-3" data-ng-click="viewSelectedRoomData()">
      		<div id='vrview5'></div>
    	</div>
  	</div>

	
	</div>
	
	<!-- angular code -->
		<script>
		//angular start here
		var app = angular.module('selectRoomLandingApp', []);
		app.controller('selectRoomLandingCtrl', function($scope, $http, $window ) {
			$scope.backToSelectRoom = function(){
				$window.location.href = "../index.html";
			}
			
			$scope.view_cart = function(){
				$window.location.href = "./customer_360_cart.html";			
			}
			
			$scope.backToViewDashboard = function (){
				$window.location.href = "../index.html";
			}
		
		});
	</script>
	
	  <script>
window.addEventListener('load', onVrViewLoad);

function onVrViewLoad() {
  // Selector '#vrview' finds element with id 'vrview'https://cdndesigncafe.s3-us-west-2.amazonaws.com/root/dcelite/images/MBR+VR.jpg  
  for(i=0;i<=5;i++){
	  var vrView = new VRView.Player('#vrview'+i, {
		image: 'https://d305uc8ofhou21.cloudfront.net/images/vrimage/Navin_MBR.jpg',
		is_vr_off :true,
		height : 300,
		width: '85%',
		is_stereo: false
	  });
	}
}

/* function onVrViewLoad() {
	  // Selector '#vrview' finds element with id 'vrview'https://cdndesigncafe.s3-us-west-2.amazonaws.com/root/dcelite/images/MBR+VR.jpg  
	  for(i=0;i<=5;i++){
		  var vrView = new VRView.Player('#vrview'+i, {
			image: 'https://d305uc8ofhou21.cloudfront.net/images/vrimage/Navin_MBR.jpg',
			is_vr_off :true,
			height : 500,
			width: '95%',
			is_stereo: false
		  });
		}
	} */
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>